@font-face {
    font-family: 'OpenSans';
    src: url(./assets/fonts/OpenSans-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./assets/fonts/OpenSans-Medium.ttf);
    font-weight: 400;
}

body {
    font-family: OpenSans, sans-serif; 
}