@font-face {
    font-family: 'OpenSans';
    src: url(./assets/fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./assets/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: OpenSans, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 300;
    color: #2E2E2E;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url(./assets/img/Lines.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: #aaa; */
    background: #B993D6;
    background: linear-gradient(to left, #B993D6 , #8CA6DB);
    
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header__nav-link {
    color: #2E2E2E;
    /* transition: opacity 0.3s; */
    /* position: relative; */
    /* padding: 0 20px; */
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.header__nav-link:hover {
    color: white;
}

.header__nav-link:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    /* transform: scale(0); */
    transition: all 0.3s;
}

.header__nav-link:hover:after {
    /* transform: scale(1); */
    width: 100%;
}
/* .header__nav-link:hover {
    opacity: 0.3;
} */

/* .header__nav-link:before {
    position: absolute;
  left: 0;
  top: 0;
  content: attr(header__nav-link);
  display: inline-block;
  color: #fff;
  width: 100%;
  clip: rect(0, 0, 190px, 0);
  -webkit-transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms
   
} */

.section-title {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.section__contact-list {
    list-style: none;
}

.section-item {
    padding-bottom: 10px;
}

.section__contact-item:last-child {
    padding-bottom: 0;
}

.section-span {
    font-weight: 400;
}

